accelerate
bitsandbytes
datasets
huggingface-hub
loralib
pandas
peft
pynvml
scipy
sentencepiece
torch
tqdm
transformers
trl
wandb
einops
git+https://github.com/inseq-team/inseq.git
google-api-python-client
psutil
colorgetter